@{
    ViewData["Title"] = "Başlangıç Sayfası";
}

<div class="text-center">
    <h1 class="display-4">İPEKYOLU A.Ş.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
</div>
