
@{
    ViewData["Title"] = "Müşteri";
}

<h1>Müşteri bilgileri hakkında</h1>

<h4>Tüm çalışanlarımızın dikkatine !!!!</h4>
<p> Merhaba arkadaşlar, yeni alınan kararla satış yaptığınınız tüm müşterilerimizin bilgilerini girmek herkesin kendi sorumluluğuna aittir.Tüm müşerilerimizin bilgilerinin eksiksiz ve doğru bir şekilde girildiğinden emin olunuz aksi taktirde yaptığınız satışlardan pirim alamayacaksınız.</p><br />
<p>Sistemimize aşağıdaki linkten ulaşabilirsiniz:</p><br />
 <a href="@Url.Action("yeni","müşteri")">kayıt Sayfayasına Git</a>